<div class="{{ 'lg:fixed' if path == 'home' }} w-full">
    <nav class="flex items-center justify-center lg:justify-between flex-wrap p-6 lg:px-0 container mx-auto" x-data="{ isOpen: false }" @keydown.escape="isOpen = false"  @click.away="isOpen = false">
        <!--Logo etc-->
        <div class="flex items-center">
            <a href="/" class="text-indigo-500 font-bold text-lg">
                Logo</a>
        </div>

        <!--Toggle button (hidden on large screens)-->
        <button @click="isOpen = !isOpen" type="button" class="ml-auto block lg:hidden px-2 text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500" :class="{ 'transition transform-180': isOpen }" aria-label="Menu">
            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
                <path x-show="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
        </button>

        <!--Menu-->
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto text-center " :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }" x-show.transition="true">

            {% if navigation.items %}

                <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                    {% for item in navigation.items %}
                        <li class="nav__item mr-3">
                            <a @click="isOpen = false" class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 py-2 px-4" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </nav>
</div>

<header id="header" class="header header-transparent">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- logo-->
            <a class="navbar-brand" href="index.html">
                <img style="width: 70px; height: 70px; border-radius: 50%;" src="assets/images/cnecolo.jpg" alt="">

            </a>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="icon icon-menu"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown nav-item active">
                        <a href="#" class="" data-toggle="dropdown">Le festival <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="index.html#aboutus">Qui sommes-nous?</a></li>
                            <li><a href="index.html#president">Mot du pr&eacute;sident</a></li>

                        </ul>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="" data-toggle="dropdown">Les editions <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="2021.html">Edition 2022</a></li>
                            <li><a href="2020.html">Edition 2020</a></li>
                            <li><a href="2019.html">Edition 2019</a></li>
                            <li><a href="2018.html">Edition 2018</a></li>
                            <li><a href="2017.html">Edition 2017</a></li>
                            <li><a href="2016.html">Edition 2016</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="invites.html" class="">Les invités <i class="fa fa-angle-down"></i></a>


                    </li>
                    <li class="nav-item dropdown">
                        <a href="actualitees.html" class="">Actualit&eacute;s <i class="fa fa-angle-down"></i></a>

                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="" onclick="alert('En construction ,veuillez consulter plus tard!');">La
                            boutique <i class="fa fa-angle-down"></i></a>

                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class=""
                            onclick="alert('En construction ,veuillez consulter plus tard!');">Comp&eacute;titions<i
                                class="fa fa-angle-down"></i></a>

                    </li>

                    <li class="nav-item">
                        <a href="index.html#contact">Contact</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div><!-- container end-->
</header>